html {
    --borderText: #212121;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.black-bg {
    background-color: black;
    color: white;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.asideMargins {
    margin-inline: 30vw;
}
.asideMarginsSmall {
    margin-inline: 15vw;
}
.title {
    font-size: 5vh;
}
#socialLogo2 {
    display: none;
}
.mobileOnlyAsideMargins {
    margin-inline: 0px;
}

@media (width <= 1000px) {
    #introThing {
        grid-template-columns: 0fr 1fr 0fr !important;
    }
    .asideMargins {
        margin-inline: 35px !important;
    }
    .mobileOnlyAsideMargins {
        margin-inline: 35px !important;
    }
    #socialLogo2 {
        display: block !important;
    }
    #socialLogo {
        display: none !important;
    }
    html {
        --borderText: #404040;
    }
    .horLines {
        border-left: none !important;
        border-right: none !important;
    }
}

.upLine {
    border-top: 1px solid var(--borderText);
}
.downLine {
    border-bottom: 1px solid var(--borderText);
}
.horLines {
    border-left: 1px solid var(--borderText);
    border-right: 1px solid var(--borderText);
}

.arrow {
    transition: 0.8s;
}
.arrow:hover {
    transform: translate(10%, 0%);
}

#socialText {
    text-decoration: none;
    color: white;
}