.terminal-window {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  font-family: "Noto Sans", sans-serif;
}

.terminal-window-expanded {
  position: absolute;
  inset: 0px;
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  z-index: 10000;
}

@media (width <= 1000) {
  .terminal-window {
    width: 90vw;
    min-width: 90vw;
    max-width: 90vw;
    aspect-ratio: 16 / 9;
  }
}
@media (width > 1000) {
  .terminal-window {
    max-height: 35vh;
  }
}

.terminal-window .window-deco {
  background-color: #292c30;
  display: flex;
  flex-direction: row;
  padding-inline: 4px;
  user-select: none;
  border-bottom: 1px solid #494b4c;
}

.terminal-window .window-deco .btn {
  position: relative;
  --btn-hover: #ffffff;
}
.terminal-window .window-deco .btn-warn {
  --btn-hover: #e38181;
}
.terminal-window .window-deco .window-title {
  text-align: center;
  flex-grow: 1;
  font-size: 0.9em;
}
.terminal-window .window-deco .btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  z-index: 1;
}
.terminal-window .window-deco .btn:hover::before {
  background-color: var(--btn-hover);
}
.terminal-window .window-deco .btn i {
  position: relative;
  z-index: 10;
}
.terminal-window .window-deco .btn:hover i {
  color: #292c30;
}

#terminal {
  font-family: "Jetbrains Mono", monospace;
  background-color: #232627;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  --term-red: #ed1515;
  --term-red-dim: #c0392b;
  --term-green: #11d116;
  --term-green-dim: #1cdc9a;
  --term-orange: #f67400;
  --term-orange-dim: #fdbc4b;
  --term-blue: #1d99f3;
  --term-blue-dim: #3daee9;
  --term-purple: #9b59b6;
  --term-purple-dim: #8e44ad;
  --term-teal: #1abc9c;
  --term-teal-dim: #16a085;
  --term-white: #fcfcfc;
  --term-white-dim: #fcfcfc;
  --term-black: #232627;
  --term-black-dim: #7f8c8d;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}

#terminal-input {
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0px;
  margin: 0px;
  display: inline;
  width: fit-content;
  field-sizing: content;
  min-width: 30px;
}

/** BEGIN GENERATED **/
#terminal .cr {
  color: var(--term-red);
}
#terminal .crd {
  color: var(--term-red-dim);
}
#terminal .cg {
  color: var(--term-green);
}
#terminal .cgd {
  color: var(--term-green-dim);
}
#terminal .co {
  color: var(--term-orange);
}
#terminal .cod {
  color: var(--term-orange-dim);
}
#terminal .cb {
  color: var(--term-blue);
}
#terminal .cbd {
  color: var(--term-blue-dim);
}
#terminal .cp {
  color: var(--term-purple);
}
#terminal .cpd {
  color: var(--term-purple-dim);
}
#terminal .ct {
  color: var(--term-teal);
}
#terminal .ctd {
  color: var(--term-teal-dim);
}
#terminal .cw {
  color: var(--term-white);
}
#terminal .cwd {
  color: var(--term-white-dim);
}
#terminal .cq {
  color: var(--term-black);
}
#terminal .cqd {
  color: var(--term-black-dim);
}
/** END GENERATED **/
